.btn {
    border-radius: 8px !important;
  }
.btn-primary:hover {
    background-color: #411C97 !important;
    border: 2px solid #411C97 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #6D3FD9 !important;
    border: 2px solid #6D3FD9 !important;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #411C97 !important;
    border: 2px solid #411C97 !important;
}

.btn-secondary {
    color: #411C97 !important;
    background-color: transparent !important;
    border: 2px solid #411C97 !important;
}

* {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('@/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






/* TEXT #260809 */
/* Background #260809 */
/* PRIMARY #6D3FD9 */
/* Secondary #C5B2F0 */
/* Accent #411C97 */


/* PRIMARY HVA #251778 */
/* OTHER HVA #351FB7 */


/* navbar #401B96 */

